QUIZUP_GITHUB_USERNAME=
QUIZUP_GITHUB_PASSWORD=

QUIZUP_OAUTH2_GOOGLE_CLIENT_ID=
QUIZUP_OAUTH2_GOOGLE_SECRET=

QUIZUP_POSTGRES_USERNAME=postgres
QUIZUP_POSTGRES_PASSWORD=postgres
QUIZUP_POSTGRES_DATABASE=postgres

QUIZUP_RABBITMQ_USERNAME=guest
QUIZUP_RABBITMQ_PASSWORD=guest